body{
    background: url("../img/backgroundAP.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    
}
#ws{
    height: 850px;
    width: 200px;
}
#menu{
    background-color: rgba(112, 128, 144, 0.541);
    
}
ul{
    text-align: center;
}
#all{
    padding: 0% 10% 0% 10%;
}
ul{
    list-style-type: square;
    margin: 0px;
    padding: 0px;
}
li{
    background-color: transparent;
    list-style: none;
    display: inline-block;
    text-decoration: black;
    margin-bottom: 3px;
    padding: 0px 15px; 
    margin-left: -4px;
}
li a:hover{
    background-color: rgb(189, 189, 142);
}
h1{
    color: black;
    font-family: arial;
    clear: right;
}
h2{
    font-family: arial;
}
p{
    font-size: 15px;
}
footer{
    margin-top: 20px;
    margin-left: 750px;
    margin-bottom: 20px;
}
.imageM{
    width: 100px;
    float: right;
    margin-left: 1px;
    border: 2px solid #4444;
    margin-bottom: 2px;
}
.img_contact{
    width: 30px;
}
.imagePatners{
    width: 100px;
    float: right;
    margin-left: 1px;
    margin-bottom: 10px;
    clear: right;
}