body{
    background: url("../img/backgroundAP.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    
}
#ws{
    height: 850px;  
    padding: 0px 0px 0px 80px; 
}
#menu{
    background-color: rgba(255, 255, 255, 0.541);
}
a:link{
    color: black;
}
ul{
    text-align: center;
}
#maps{
    float: right;
    margin-right: 10%;
    padding: 0px 0px 10px 10px;    
}
#all{
    padding: 0% 10% 0% 10%;
}
li{
    background-color: transparent;
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
    margin-bottom: 3px;
    margin-left: -4px;
}
li a:hover{
    background-color: rgb(129, 128, 128);
}
h1{
    color: black;
    font-family: arial;
    clear: right;
}
h2{
    font-family: arial;
}
p{
    font-size: 15px;
}
footer{
    margin-top: 20px;
    margin-left: 750px;
    margin-bottom: 20px;
}
.imageM{
    width: 100px;
    float: right;
    margin-left: 1px;
    border: 2px solid #4444;
    margin-bottom: 2px;
}
.img_contact{
    width: 30px;
}
.imagePatners{
    width: 100px;
    float: right;
    margin-left: 1px;
    margin-bottom: 10px;
    clear: right;
}